body {
  display: flex;
  margin: 0;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-horizental {
  flex-direction: row;
}

.layout-top {
  background-color: #659afc;
  height: 180px;
}

.layout-bottom {
  background-color: #a2a2a2;
  text-align: center;
  padding: 10px;
}

.layout-left {
  background-color: #8eebcc;
  width: 280px;
}

.layout-content {
  background-color: #efebba;
  flex: 1;
  min-height: 300px;
}

.accordion-handler {
  background-color: #b5cdfb;
  cursor: pointer;
  padding: 5px;
}

.accordion-handler a:hover {
  font-weight: bold;
}

.accordion-panel {
  background-color: #ffffff;
  padding: 10px;
}

.debug {
  color: #4f4f4f;
  font-size: x-small;
  font-style: italic;
}
